// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    max-width: 100%;
    height: auto;
}

.aligncenter {
    display: block;
    margin: 25px auto;
    height: auto;
}

.alignleft,
.alignright {
    margin-top: 8px;
    margin-bottom: 20px;
    height: auto;
}

@include media-breakpoint-up(sm) {
    // Only float if not on an extra small device
    .alignleft {
        float: left;
        margin-right: 25px;
    }
    .alignright {
        float: right;
        margin-left: 25px;
    }
}

// Captions
.wp-caption {
    @extend .figure-img;
    @extend .img-fluid;
}

.wp-caption-text,
.wp-caption-dd {
    @extend .figure-caption;
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.wp-caption-dd {
    padding-top: 0;
}

// Text meant only for screen readers
.screen-reader-text {
    @extend .sr-only;
    @extend .sr-only-focusable;
}
