// ======================================================================== /
// GLOBAL STYLE
// ======================================================================== /
// html, body {
//     font-size: 15px;
// }

body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $body_font;
    background-color: #fff;

    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

a {
    color: $primary;

    &:hover, &:active, &:focus {
        color: $primary;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_title;
    font-weight: 700;
}


.hidden {
    display: none;
}

.dot::before {
    position: relative;
    display: inline-block;
    content: '';
    width: 4px;
    height: 4px;
    background-color: $color_entry_title;
    border-radius: 100%;
    margin: 0 10px 2px;
    vertical-align: middle;
}
