// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$primary:               #00A8E8;
$body_font:             #4C4C4C;

$w:                     #FFFFFF;
$color_3:                     #333333;
$e:                     #EEEEEE;
