// HERO STYLE
// ======================================================================== /
#hero {
    position: relative;
    height: 75vh;
    min-height: 320px;
    // background-image: url('../images/hero_bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba( 0, 0, 0, 0.65 );
        z-index: -1;
    }
}

// ======================================================================== /
// MAIN STYLE
// ======================================================================== /
.main_header {
    position: absolute;
    z-index: 996;
    width: 100%;
    background-color: transparent;

    a {
        color: $w;
    }

    // BRAND
    // ======================================================================== /
    .brand {
        // float: left;
        display: inline-block;
        padding-top: 20px;
        height: 70px;
        vertical-align: middle;

        @media screen and ( min-width: $lg ) {
            padding-top: 25px;
        }

        img {
            height: 25px;
        }

        .logo_black {
            display: none;
        }

        @media screen and ( max-width: $lg ) {
            line-height: 20px;
        }
    }

    // NAVBAR TOGGLER
    // ======================================================================== /
    .navbar-toggler {
        float: right;
        padding-top: 25px;
        color: $w;
    }

    // NAV PRIMARY
    // ======================================================================== /
    .nav_primary {

        @media screen and ( min-width: $lg ) {
            float: right;
            display: inline-block;
        }

        .nav {
            display: block;

            @media screen and ( max-width: $md ) {
                height: 82vh;
                overflow-y: auto;
            }

            @media screen and ( min-width: $lg ) {
                display: inline-block;
            }

            @media screen and ( max-width: $lg ) {
                background-color: $w;
            }

            li {
                display: block;
                float: none;
                margin: 0;
                padding: 0;

                @media screen and ( min-width: $lg ) {
                    display: inline-block;
                }

                &.btn_hire {
                    padding: 0;

                    a {
                        background-color: $w;
                        color: $c333;
                        line-height: 1.2;
                        padding: 6px 18px;
                        border-radius: 2px;
                    }

                    &:before {
                        display: inline-block;
                        content: 'or';
                        font-size: 1rem;
                        font-style: italic;
                        line-height: 1.2;
                        position: relative;
                        color: $w;
                        padding-right: 20px;
                        cursor: auto;
                        margin-bottom: 4px;
                    }
                }
            }

            a {
                display: block;
                padding: 15px;
                font-weight: 700;

                &:hover, &:active, &:focus {
                    text-decoration: none;
                }

                @media screen and ( min-width: $lg ) {
                    display: inline-block;
                    padding: 30px 20px;
                }
            }

            .dropdown-menu {
                border-radius: 0;
                border: none;

                @media screen and ( min-width: $lg ) {
                    min-width: 220px;
                    padding: 0;
                    margin-top: 0;
                    border-top: 1px solid $cf5;
                    background-clip: border-box;
                    box-shadow: 2px 4px 30px -2px rgba(0, 0, 0, 0.07);
                    background-color: $w;

                    a {
                        color: $c555;
                        padding: 15px 20px;
                        font-size: 14px;
                        border: 1px solid $cf5;
                        border-top: none;

                        &:last-child {
                            border-bottom: none;
                        }

                        &.active {
                            color: $w;
                            background-color: $c777;
                            border-color: $c777;
                        }

                        &:hover, &:active, &:focus {
                            background-color: $c555;
                            color: $w;
                            border-color: $c555;
                        }
                    }
                }
            }
        }

        @media screen and ( max-width: $lg ) {
            .navbar-nav {
                padding: 0;
                margin: 0;
            }
        }
    }

}


// ======================================================================== /
// HERO CONTENT
// ======================================================================== /
.hero_content {
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: $w;
    padding: 20px;

    .page_title {
        font-size: 42px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 15px;
    }

    .page_des {
        font-family: "PT Serif", Arial, sans-serif;
        font-size: 20px;
        font-style: italic;
        margin-bottom: 0;
    }
}

// ======================================================================== /
// HERO PROFILE
// ======================================================================== /
.hero_profile {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

    img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border: 5px solid $w;
        box-shadow: 0px 1px 4px 0px #dadada;
    }

    @media screen and ( max-width: $md ) {
        bottom: -50px;

        img {
            width: 100px;
            height: 100px;
        }
    }
}


// HERO CONTENT SINGLE
// ======================================================================== /
.hero_content_single {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 160px;
    margin: 0 auto;
    text-align: center;
    max-width: 860px;
    padding: 20px;

    .icon_post {
        display: block;
        margin-bottom: 35px;

        .icon {
            font-size: 20px;
            color: $w;
        }
    }

    .entry-title {
        font-family: $font_title;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 46px;
        color: $w;
        margin-bottom: 20px;

        @media screen and ( max-width: $md ) {
            font-size: 36px;
            line-height: 38px;
        }
    }

    .hero_post_info {
        font-family: $font_title;
        font-style: italic;
        color: $w;

        .dot::before {
            background-color: $w;
        }

        .icon {
            font-size: 15px;
            margin: 5px;
        }
    }
}


// Make default navbar links display block at choosen breakpoint and adjust styles to fit...
@media (max-width: 62em) {
	.navbar-nav {
		padding-top: .425rem;
		padding-left: 0.75rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}
}
