// ======================================================================== /
// HEADER FOLIO
// ======================================================================== /
.hero_header_folio{
    position: relative;
    min-height: 380px;
    // padding: 200px 0 100px;
    background-color: $b;
    overflow: hidden;

    .header_folio_single {
        padding-top: 200px;
        padding-bottom: 80px;
        margin: auto;
        text-align: center;
        max-width: 900px;
        color: $w;

        .icon_post {
            margin-bottom: 40px;

            i {
                font-size: 20px;
            }
        }

        .entry-title {
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 15px;
        }

        .entry-description {
            font-family: $font_body;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 1px;
        }

        .folio_info {
            list-style-type: none;
            margin: 60px 0 0;
            padding: 0;

            li {
                display: inline-block;
                padding-right: 40px;
                font-size: 13px;
                letter-spacing: 0.2px;
                text-align: left;
                font-family: $font_title;

                // &.folio_info_service {
                //     display: block;
                // }

                &:last-child {
                    padding-right: 0;
                }

                a {
                    color: $w;
                }

                span {
                    display: block;
                }

                label {
                    display: inline-block;
                    font-family: $font_body;
                    // font-family: $font_title;
                    font-size: 13px;
                    font-weight: 800;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    margin-bottom: 8px;

                    &:after {
                        display: block;
                        content: '';
                        height: 1px;
                        width: 100%;
                        margin-top: 3px;
                        background-color: rgba( 255, 255, 255, 0.8 );
                    }
                }

                .pt_category {
                    margin: 0;
                    padding: 0;

                    li {
                        padding: 0;
                    }
                }
            }
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}


// ======================================================================== /
// SINGLE PORTFOLIO STYLE
// ======================================================================== /
.single-portfolio {
background-color: $w;

    .wrap-folio {
        padding-top: 60px;
        padding-left: 0;
        padding-right: 0;

        .entry-content {
            // padding-left: 15px;
            // padding-right: 15px;

            p {
                margin: 0 auto 20px;
                max-width: 800px;
            }

        }
    }
}


.wrap-folio {

    // ======================================================================== /
    // PORTO PAGINATION
    // ======================================================================== /
    .porto_pagination {
        display: block;
        text-align: center;
        margin-left: -15px;
        margin-right: -15px;
        padding: 80px 0;
        background-color: $cfc;

        .page-numbers {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                padding: 0;
                margin: 0;
            }

            a, span {
                padding: 10px 18px;
                font-size: 13px;
                color: $c777;
                border: 1px solid $bg_single;
                transition: 0.2s ease-in-out;
                border-radius: 2px;
            }

            a {

                &:hover, &:active, &:focus {
                    text-decoration: none;
                    border-color: $c777;
                    color: $w;
                    background-color: $c777;
                }

                &.next, &.prev {
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }

                i {
                    font-size: 12px;
                }
            }

            &.current {
                opacity: 0.35;
                border-color: $c777;
                color: $w;
                background-color: $c777;
            }
        }
    }
}


// ======================================================================== /
// PORTFOLIO ARCHIVE
// ======================================================================== /
.type-portfolio {

    .portfo_thumbnail,
    .portfo_content {
        padding: 0;
    }

    @media screen and ( min-width: $md ) {
        .portfo_thumbnail,
        .portfo_content {
            padding-left: 0;
            padding-right: 0;
        }

        &:nth-child(2n) {
            .portfo_thumbnail {
                order: 1;

                &::before {
                    display: none;
                    content: "";
                    position: absolute;
                    // left: -30px;
                    // left: 0;
                    top: 0;
                    bottom: 0;
                    text-align: center;
                    margin: auto;
                    width: 0;
                    height: 0;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    // border-right: 30px solid $c333;
                    border-left: 30px solid $w;
                }
            }

            .portfo_content {
                &::before {
                    display: none;
                }
            }
        }

        .portfo_content {
            padding: 60px 0;
            height: 100%;
            text-align: center;
            margin: auto;
            vertical-align: middle;
        }

        &.has-post-thumbnail {
            .portfo_content {
                padding: 0 85px;
            }
        }

    }

    .portfo_thumbnail {
        position: relative;
        // border: 1px solid $bg_single;
        box-shadow: 0px 8px 22px -8px rgba(0, 0, 0, 0.15);
        outline: 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .portfo_content {
        position: relative;

        @media screen and ( max-width: $md ) {
            padding: 20px 30px 30px;
        }

        &::before {
            display: none;
            content: "";
            position: absolute;
            // left: 0;
            left: -20px;
            top: 0;
            bottom: 0;
            text-align: center;
            margin: auto;
            width: 0;
            height: 0;
            border-top: 35px solid transparent;
            border-bottom: 35px solid transparent;
            // border-left: 30px solid #2c2b2b;
            border-right: 20px solid $w;
        }

        .entry-title {
            letter-spacing: -0.2px;
            margin-bottom: 20px;

            a {
                color: $color_title;

                &:hover, &:active, &:hover {
                    text-decoration: none;
                    color: $primary;
                }
            }
        }

        .entry-summary {
            color: $c777;
            letter-spacing: 0.5px;
            line-height: 22px;

            .read_more {
                display: block;
                margin-top: 30px;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 3px;
                color: $c777;
                opacity: 0.6;

                &:hover, &:active, &:focus {
                    text-decoration: none;
                    color: $primary;
                    opacity: 1;
                }

                &:after {
                    content: "\e606";
                    font-family: "simple-line-icons";
                    font-size: 10px;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    padding-left: 10px;
                }
            }
        }
    }

}


// ======================================================================== /
// PS PAGINATION
// ======================================================================== /
.ps_pagination {
    display: block;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 60px 15px;
    text-align: center;
    background-color: $cfc;

    li {
        display: inline-block;
    }

    li.prev_nav, li.next_nav {
        a {
            i {
                font-size: 9px;
            }
        }
    }

    li.prev_nav {
        float: left;
    }

    li.next_nav {
        float: right;
    }

    a {
        color: $c777;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;

        .icon-grid {
            font-size: 20px;
        }

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
}
